---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, name } = Astro.props;
---

<Section text="Sobre Mim" href="about">
  <div class="max-w-3xl">
    <p
      class="text-base leading-relaxed whitespace-pre-line text-[var(--text-muted)]"
    >
      {description}
    </p>
  </div>
</Section>
